
.card {
    display: flex;
    flex-direction: row;
    width: 42%;
    height: auto;
    max-height: 290px;
    min-height: 290px;
    margin: 35px;
    background-color: #c6d4e1 ;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.contenedor-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 60%;
    flex: 1;
    background-color: aliceblue;
}

.des-text{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin-top: 20px;
    padding: 0;
    height: 100px;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #000000;
    margin-top: 20px;
}

a:hover{
    color: #000000;
    text-decoration: underline;
}

.autor{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin-top: 20px;
    padding: 0;
}


.contenedor-imagen{
    align-items: center;
    width: 40%;
    flex: 1;
    position: relative;
    background-color: aliceblue;
}

.contenedor-imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fecha{
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 14px;
    background-color: #b8cbdd;
    -webkit-border-radius: 3000px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 3000px;
    -moz-border-radius-topright: 0;
    border-radius: 3000px;
    border-top-right-radius: 0;
    padding: 5px 10px;
    font-weight: 600;
    border: 1px solid #0000005b;
}
